@import 'models/colors.scss';

.main-footer {
  background-image: linear-gradient($blue-500, $blue-400);
  color: $grey-100;
  text-align: center;
  padding: 20px;
  margin-top: 20px;

  &-link {
    color: $grey-100;
  }
}
