$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin responsive($size) {
  @if ($size == 'sm') {
    @media screen and (min-width: map-get($breakpoints,  'sm' )) {
      @content;
    }
  }

  @if ($size == 'md') {
    @media screen and (min-width: map-get($breakpoints,  'md' )) {
      @content;
    }
  }

  @if ($size == 'lg') {
    @media screen and (min-width: map-get($breakpoints,  'lg' )) {
      @content;
    }
  }

  @if ($size == 'xl') {
    @media screen and (min-width: map-get($breakpoints,  'xl' )) {
      @content;
    }
  }
}
